@page
@model Cvl.DynamicForms.Areas.DynamicForms.Pages.Grid.IndexModel
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <form method="get">
        <input name="mainfilter" id="mainfilter" type="text" placeholder="Enter filter value..." />
        <input name="submit" type="submit" id="submitButton" value="true" />
    </form>
    <div class="row">
        <span>
            <a href="@Model.RefreshUrl"><i class="bi bi-arrow-clockwise"></i></a>
            @if (Model.IsAutoRefresh)
            {
                <a href="@Model.RefreshUrl"><i class="bi bi-caret-right-fill"></i></a>
            }
            else
            {
                <a href="@Model.AutoRefreshUrl"><i class="bi bi-caret-right"></i></a>
            }
            @Model.GridViewModel.MainObjectTypeFullname
            <a href="@Model.AllTypesUrl">all types</a>
        </span>
    </div>
    @await Component.InvokeAsync("GridView", Model.GridViewModel)
</div>