@model Cvl.DynamicForms.Model.ViewModel.TreeListViewModel
@{
    @foreach (var row in Model.Rows)
    {
        <div class="border py-1">
            <div class="accordion" id="accordion@(row.Id)">
                <div class="accordion-item border-0">
                    <div class="accordion-header" id="heading@(row.Id)">
                        <div class="accordion-button collapsed" onclick="getTreeListNode('@row.Id', '@(row.ElementTypeFullName)', 'childrenContainer@(row.Id)')" data-bs-toggle="collapse" data-bs-target="#collapse@(row.Id)" aria-expanded="false" aria-controls="collapse@(row.Id)">
                            <div class="row w-100">
                                <div class="col"><a href="@row.EditUrl">@row.Id</a></div>
                                @foreach (var cell in row.Cells)
                                {
                                    <div class="col">
                                        @if (@cell.EditUrl != null)
                                        {
                                            <a href="@cell.EditUrl">@cell.Value</a>
                                        }
                                        else
                                        {
                                            @cell.Value
                                        }
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                    <div id="collapse@(row.Id)" class="accordion-collapse collapse" aria-labelledby="heading@(row.Id)" data-bs-parent="#accordion@(row.Id)">
                        <div class="accordion-body">
                            <div id="childrenContainer@(row.Id)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
}

