@page
@model Cvl.DynamicForms.Areas.DynamicForms.Pages.TreeList.IndexModel
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <span>
            <a href="@Model.RefreshUrl"><i class="bi bi-arrow-clockwise"></i></a>
            @if (Model.IsAutoRefresh)
            {
                <a href="@Model.RefreshUrl"><i class="bi bi-caret-right-fill"></i></a>
            }
            else
            {
                <a href="@Model.AutoRefreshUrl"><i class="bi bi-caret-right"></i></a>
            }
            @Model.TreeList.MainObjectTypeFullname
            <a href="@Model.AllTypesUrl">all types</a>
        </span>
    </div>

    @await Component.InvokeAsync("TreeNodeView", Model.TreeList)
</div>

<script type="text/javascript">
    function getData(id, type, targetdiv) {
        $.ajax({
            type: "get",
            url: "@ViewData["ApplicationUrl"]/DynamicForms/TreeList/Node?Id=" + id + "&type=" + type,
            dataType: "html",
            contentType: "text/html",
            success: function (data) {
                $('#' + targetdiv).html(data);
            },
            failure: function (response) {
                throw new Error('Error in ajax TreeListNode loading');
            }
        })
    }
</script>