@page
@model Cvl.DynamicForms.Areas.DynamicForms.Pages.TreeList.IndexModel
@{
    Layout = "_Layout";
}
<div class="container-fluid">   
    <div class="row">
        <span class="col"-4>
            <a href="@Model.RefreshUrl"><i class="bi bi-arrow-clockwise"></i></a>
            @if (Model.IsAutoRefresh)
            {
                <a href="@Model.RefreshUrl"><i class="bi bi-caret-right-fill"></i></a>
            }
            else
            {
                <a href="@Model.AutoRefreshUrl"><i class="bi bi-caret-right"></i></a>
            }
            @Model.TreeList.MainObjectTypeFullname
            <a href="@Model.AllTypesUrl">all types</a>
        </span>
        <form method="get" class="col-8">
            <input type="hidden" id="id" name="id" value="@(Model.TreeList.MainObjectId)" />
            <input type="hidden" id="type" name="type" value="@(Model.TreeList.MainObjectTypeFullname)" />
            <input name="mainfilter" id="mainfilter" type="text" placeholder="Enter filter value..." />
            <button type="submit" class="btn btn-sm p-0 m-0">
                <i class="bi bi-funnel"></i>
            </button>
        </form>
    </div>
    <div class="row px-5">
        <div class="col">#</div>
        @foreach (var col in Model.TreeList.Columns)
        {
            <div class="col">
                @col.Header
            </div>
        }
    </div>
    @await Component.InvokeAsync("TreeNodeView", Model.TreeList)
</div>

<script type="text/javascript">
    function getTreeListNode(id, type, targetdiv) {
        $.ajax({
            type: "get",
            url: "@ViewData["ApplicationUrl"]/DynamicForms/TreeList/Node?Id=" + id + "&type=" + type,
            dataType: "html",
            contentType: "text/html",
            success: function (data) {
                $('#' + targetdiv).html(data);
            },
            failure: function (response) {
                throw new Error('Error in ajax TreeListNode loading');
            }
        })
    }

    function getPropertyGridNode(id, type, targetdiv, bindingPath, isStatic) {
        if (isStatic) { return; } //jeśli z statycznego expandera to nic nie robię

        $.ajax({
            type: "get",
            url: "@ViewData["ApplicationUrl"]/DynamicForms/PropertyGrid/PropertyGridNode?id=" + id + "&type=" + type + "&bindingPath=" + bindingPath,
            dataType: "html",
            contentType: "text/html",
            success: function (data) {
                $('#' + targetdiv).html(data);
            },
            failure: function (response) {
                throw new Error('Error in ajax PropertyGridNode loading');
            }
        });
    }
    function getFilter(id, type) {
        filter = $("#mainfilter").val();
        $.ajax({
            type: "get",
            url: "@ViewData["ApplicationUrl"]/DynamicForms/TreeList?id=" + id + "&type=" + type + "&filter=" + filter,
            dataType: "html",
            contentMainObjectIdyTreeListpBindingPathe: "text/html",
            success: function (data) {
                $('#mainfilter').html("<h1>success</h1>");
            },
            failure: function (response) {
                throw new Error('Error in ajax PropertyGridNode loading');
            }
       });
    }

</script>