@model Cvl.DynamicForms.Model.SimplePropertyVM
@using  System.ComponentModel.DataAnnotations;

<div class="col-9 border g-0">
    @switch (Model.Type)
    {
        case Cvl.DynamicForms.Model.PropertyTypes.String:
            if (Model.IsBigString == false)
            {
                <input id="@Model.BindingPath" class="form-control rounded-0" placeholder=""
                       value="@Model.Value" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.BindingPath" />
            }
            else
            {
                <textarea id="@Model.BindingPath" class="form-control" rows="12" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.BindingPath">@Model.Value</textarea>
            }
            break;
        case Cvl.DynamicForms.Model.PropertyTypes.Bool:
            <input id="@Model.BindingPath" class="form-check-input" checked="@Convert.ToBoolean(Model.Value)" type="checkbox" value="@Model.Value" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.BindingPath" />
            break;
        case Cvl.DynamicForms.Model.PropertyTypes.Enum:
            @Html.DropDownList("Place of residence", Html.GetEnumSelectList<Cvl.DynamicForms.Test.Place>(), Model.Value.ToString(), new { @class = "form-control" })
            break;
        case Cvl.DynamicForms.Model.PropertyTypes.Int:
            <input id="@Model.BindingPath" class="form-control rounded-0" type="number" step="1" min="1" max="150" value="@Model.Value" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.BindingPath" />
            break;
        case Cvl.DynamicForms.Model.PropertyTypes.Float:
            <input id="@Model.BindingPath" class="form-control rounded-0" type="number" step="0.001" min="0" max="1000" value="@Model.Value" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.BindingPath" />
            break;
        case Cvl.DynamicForms.Model.PropertyTypes.Other:
            <input id="@Model.BindingPath" class="form-control rounded-0" placeholder="" value="@Model.Value" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.BindingPath" />
            break;
    }
</div>



